<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.steelejr.eclipse.aws.perspective.AwsPerspectiveFactory"
            fixed="false"
            icon="icons/aws-box.gif"
            id="com.steelejr.eclipse.aws.perspective.AwsPerspectiveFactory"
            name="AWS">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.steelejr.eclipse.aws.AwsCategory"
            name="AWS">
      </category>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.steelejr.eclipse.aws.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
