<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.steelejr.aws.ec2.java.server.ui.serverViewCategory"
            name="AWS EC2 Java">
      </category>
      <view
            class="com.steelejr.aws.ec2.java.server.ui.ViewPart1"
            id="com.steelejr.aws.ec2.java.server.ui.serverView"
            name="Servers "
            restorable="true">
      </view>
   </extension>

</plugin>
